html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
}

.vue-codemirror {
  height: 100%;
}

.d-grid {
  display: grid;
}

.flex-grow-1 {
  flex-grow: 1;
}