html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
}

.vue-codemirror {
  height: 100%;
}

.d-grid {
  display: grid;
}

.flex-grow-1 {
  flex-grow: 1;
}

.CodeMirror-lines {
  padding-top: 1em;
  padding-bottom: 5em;
}

code:not([class]) {
  color: rgb(255, 0, 64);
}

::-webkit-scrollbar {
  display: none;
}