html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
}

.vue-codemirror {
  height: 100%;
}

.d-grid {
  display: grid;
}

.flex-grow-1 {
  flex-grow: 1;
}

mwc-top-app-bar {
  --mdc-theme-primary: rgb(255, 221, 72);
  --mdc-theme-on-primary: rgb(54, 54, 54);
}

.CodeMirror-lines {
  padding-top: 1em;
  padding-bottom: 5em;
}

::-webkit-scrollbar {
  display: none;
}